<article class='filmcard'>
  <div class='filmcard-image__thumb'>
    {{!-- <img
      class='filmcard-image'
      src="https://image.tmdb.org/t/p/w500/{{poster_path}}"
      alt="{{title}}"
      width='100%'
      data-attribute="{{id}}"
      data-date="{{release_date}}"
      data-vote="{{vote_average}}"
      data-genre="{{#each this.genres}}{{name}} {{/each}}"
    /> --}}

      {{#if poster_path}} <img class='filmcard-image' src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt='{{title}}' data-attribute='{{id}}' width='100%' data-date="{{release_date}}" data-vote="{{vote_average}}" data-genre="{{#each this.genres}}{{name}} {{/each}}"/>
      {{else}} <img class="filmcard-image" src='https://www.hd-film.stream/assets/general/images/no_poster.jpg' alt='постер к фильму отсутствует' data-attribute='{{id}}' width='100%' data-date="{{release_date}}" data-vote="{{vote_average}}" data-genre="{{#each this.genres}}{{name}} {{/each}}"/>
      {{/if}}
  </div>

  <div class='filmcard-content'>
    <h2 class='filmcard-title'>
      {{title}}
    </h2>

    <ul class='filmcard-title-list'>
      <li class='filmcard-title-list-item'>
        <span class='vote'>
          Рейтинг / Голоса
        </span>
        <b>
          <span class='vote_average'>
            {{vote_average}}
          </span>
          <span class="vote_slash">/</span>
        <span class="vote_count">{{vote_count}}</span>
        </b>
      </li>
      <li class='filmcard-title-list-item'>
        <span class='popular'>
          Популярность
        </span>
        <b>
          {{popularity}}
        </b>
      </li>
      <li class='filmcard-title-list-item  wrap'>
        <span class='original'>Название</span>
        <b class="original_title">{{original_title}}</b>
      </li>
      <li class='filmcard-title-list-item'>
        <span class='genre'>
          Жанр
        </span>
        {{#each this.genres}}
          <b>
            {{name}}
          </b>
        {{/each}}
      </li>
    </ul>

    <div class='filmcard-about'>
      <h3>
        ОПИСАНИЕ
      </h3>

      <p class='filmcard-text'>
        {{overview}}
      </p>
    </div>

    <div class='btn__cont'>
      <button type='button' class='button btnwatched'>
        <b>
          просмотреные
        </b>
      </button>
      <button type='button' class='button btnqueue'>
        <b>
          очередь
        </b>
      </button>
    </div>
  </div>
</article>